.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.form-container {
    border: 1px solid black;
    border-radius: 10px;
    max-width: 640px;
    width: 100%;
    background-color: #f6f8fc;
    padding: 20px;
}

.form {
    padding: 30px;
}

.form__title {
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.form__input {
    margin: 18px 0;
}

.form_input-text {
    background-color: #cad4ef;
    width: 100%;
    padding: 15px;
    border-radius: 20px;
}

.button {
    background-color: #879fdc;
    padding: 15px;
    width: 85%;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}

.button--margin {
    margin-top: 55px;
}

@media (max-width: 768px) {
    .form-container {
        margin: 20px;
        padding: 15px;
    }

    .form__title {
        font-size: 18px;
    }

    .form_input-text {
        padding: 10px;
    }

    .button {
        width: 100%;
    }
}